spring.application.name=continuum-backend

spring.datasource.url=jdbc:h2:file:./data/usersdb
spring.datasource.driver-class-name=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=

spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.jpa.hibernate.ddl-auto=update

spring.h2.console.enabled=true
spring.h2.console.path=/h2-console
spring.h2.console.settings.web-allow-others=true

SECRET=secret-key-test-super-hyper-mega-secret-3000-11-generation-hard-tech
